<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus investimentos</title>
    <link rel="stylesheet" href="/model/investOwner.css">
    <script src="/controller/index.js"></script>
</head>

<body>
    <ul id="mainOptions">
        <li><a href="https://www.safra.com.br" title="Safra - Página inicial">
                <img alt="Logo Safra"
                    src="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/logo-safra.svg"
                    class="logoSafra">
            </a></li>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/form.html">Perfil do investidor</a></li>
            <li><a href="#analiseCliente">Análise do Cliente</a></li>
            <li><a href="/views/newInvest.html">Novos objetivos</a></li>
            <li><a href="/views/listInvestment.html">Opções de investimento</a></li>
            <li><a href="/views/investOwner.html">Meus investimentos</a></li>
            <li><a href="/views/login.html">Conta</a></li>
    </ul>



    <header>
        <h1>Meus investimentos</h1>
    </header>


    <div class="investment-box">
        <h2>Viagem para Disney</h2>
        <div class="valueFinal">
            <h3>R$ 9.000,00</h3>
        </div>
        <div class="valueCurrent">
            <h3>R$ 500,00</h3>
        </div>
        <div class="time">
            <h3>Prazo: 12 meses</h3>
        </div>
        <div class="investment">
            <h3>CDB Safra</h3>
        </div>
        <img src="https://www.safra.com.br/data/files/6E/E4/52/52/2319E7101AC0ABD7E03EF9C2/finance.jpg" alt="iconInvestment" style="float: right;">
    </div>

    <div id="listInvest">

    </div>

</body>

</html>