<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opcoes de investimento</title>
    <link rel="stylesheet" href="/model/listInvest.css">
    <script src="/controller/index.js"></script>
</head>

<body>
    <ul id="mainOptions">
        <li><a href="https://www.safra.com.br" title="Safra - Página inicial">
                <img alt="Logo Safra"
                    src="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/logo-safra.svg"
                    class="logoSafra">
            </a></li>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/form.html">Perfil do investidor</a></li>
        <li><a href="#analiseCliente">Análise do Cliente</a></li>
        <li><a href="/views/newInvest.html">Novos objetivos</a></li>
        <li><a href="/views/listInvestment.html">Opções de investimento</a></li>
        <li><a href="/views/investOwner.html">Meus investimentos</a></li>
        <li><a href="/views/login.html">Conta</a></li>
    </ul>



    <header>
        <h1>Opções de investimentos</h1>
    </header>

    <div class="option-box">
        <h2>CDB Safra</h2>

        <div class="infoInvest">
            <h3>Valor minimo: R$ 500,00</h3>
        </div>
        <div class="infoInvest">
            <h3>Prazo minimo: 12 meses</h3>
        </div>
        <div class="infoInvest">
            <h3>Bonus Safra: 30% de desconto em hospedagem</h3>
        </div>
        <a href="/views/investOwner.html">
            <b>INVESTIR</b>
        </a>
        <img src="https://www.safra.com.br/data/files/44/F4/E9/52/2319E7101AC0ABD7E03EF9C2/money-hand.jpg" alt="iconInvestment" style="float: right;">
    </div>
    <div class="option-box" >
        <h2>LCI Itau</h2>
        <div class="infoInvest">
            <h3>Valor minimo: R$ 1.000,00</h3>
        </div>
        <div class="infoInvest">
            <h3>Prazo minimo: 3 meses</h3>
        </div>
        <a href="/views/investOwner.html">
            <b>INVESTIR</b>
        </a>
        <img src="https://www.safra.com.br/data/files/44/F4/E9/52/2319E7101AC0ABD7E03EF9C2/money-hand.jpg" alt="iconInvestment" style="float: right;">
    </div>
    <div class="option-box">
        <h2>CDI Bradesco</h2>
        <div class="infoInvest">
            <h3>Valor minimo: R$ 200,00</h3>
        </div>
        <div class="infoInvest">
            <h3>Prazo minimo: 36 meses</h3>
        </div>
        <a href="/views/investOwner.html">
            <b>INVESTIR</b>
        </a>
        <img src="https://www.safra.com.br/data/files/44/F4/E9/52/2319E7101AC0ABD7E03EF9C2/money-hand.jpg" alt="iconInvestment" style="float: right;">
    </div>

    </ul>

</body>

</html>