<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/model/login.css">
</head>

<body>
    <ul id="mainOptions">
        <li><a href="https://www.safra.com.br" title="Safra - Página inicial">
            <img alt="Logo Safra"
                src="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/logo-safra.svg" class="logoSafra">
        </a></li>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/form.html">Perfil do investidor</a></li>
        <li><a href="#analiseCliente">Análise do Cliente</a></li>
        <li><a href="/views/newInvest.html">Novos objetivos</a></li>
        <li><a href="/views/listInvestment.html">Opções de investimento</a></li>
        <li><a href="/views/investOwner.html">Meus investimentos</a></li>
        <li><a href="/views/login.html">Conta</a></li>
    </ul>

    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="email" id="email" required="true">
                <label>E-mail</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="true">
                <label>Senha</label>
            </div>
            <a href="./form.html">
                <b>ENTRAR</b>
            </a>
        </form>
        <a href="https://www.safra.com.br/atendimento/atendimento-ao-cliente.htm" class="ajuda">Esqueceu minha senha</a>
        <a href="./register.html" class="ajuda">Não sou cadastrado</a>
    </div>

</body>

</html>