<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novos investimentos</title>
    <link rel="stylesheet" href="/model/index.css">
    <script src="/controller/index.js"></script>
</head>

<body>
    <ul id="mainOptions">
        <li><a href="https://www.safra.com.br" title="Safra - Página inicial">
                <img alt="Logo Safra"
                    src="https://www.safra.com.br/lumis-theme/br/com/bancosafra/safranet/theme/safranet/assets/img/logo-safra.svg"
                    class="logoSafra">
            </a></li>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/form.html">Perfil do investidor</a></li>
        <li><a href="#analiseCliente">Análise do Cliente</a></li>
        <li><a href="#plataforma">Novos objetivos</a></li>
        <li><a href="/views/listInvestment.html">Opções de investimento</a></li>
        <li><a href="/views/investOwner.html">Meus investimentos</a></li>
        <li><a href="/views/login.html">Conta</a></li>
    </ul>



    <header>
        <h1>Novos investimentos</h1>
    </header>

    <div class="investment-box">
        <h2>Criar objetivo</h2>
        <form>
            <div class="user-box">
                <input type="text" name="investment" id="investment" required>
                <label>Nome do objetivo</label>
            </div>
            <div class="user-box">
                <input type="text" name="valueFinal" id="valueFinal" required>
                <label>Valor final</label>
            </div>
            <div class="user-box">
                <input type="text" name="valueCurrent" required>
                <label>Valor atual</label>
            </div>
            <div class="user-box">
                <input type="text" name="time" required>
                <label>Tempo(Em meses)</label>
            </div>
            <button type="button">Novo objetivo</button>
        </form>
    </div>

</body>

</html>